// -----------------------------------------------------------------------------
// CARDS STYLES
// -----------------------------------------------------------------------------

.cards {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.61);

	.cards-row {
		display: flex;
		color: $white;
		background-color: $black;
		flex-wrap: wrap;

		.third {
			width: 33%;
			padding: 2em;
		}

		.two-thirds {
			width: 66%;
			padding: 2em;
		}

		button {
			margin-top: 1em;
		}

		.serif {
			font-family: "Spectral", serif;
			font-size: 26px;
			display: block;
			border-bottom: 1px solid $white;
			padding-bottom: 6px;
			margin-bottom: 1em;
		}
	}
}