// -----------------------------------------------------------------------------
// HEADER STYLES
// -----------------------------------------------------------------------------

#header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 1em 0;

  nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;

    a {
      padding: 0 1em;
      display: flex;
      align-items: center;
      font-size: 16px;

      @media (max-width: 768px) {
        display: none;
      }

      &.menu-link {
        img {
          width: 14px;
          height: 14px;
          margin-left: 1em;
        }
      }
    }

    .mobile-menu {
      display: none;
      position: absolute;
      left: 2em;
      z-index: 1001;

      @media (max-width: 768px) {
        display: block;
      }

      .line {
        width: 50px;
        height: 4px;
        margin-bottom: 8px;
        background-color: $blue;
        transition: all 600ms ease-in-out;
        border-radius: 1px;

        &.center {
          width: 40px;
        }

        &.bottom {
          width: 30px;
        }
      }
    }
  }
}
