@import url(https://fonts.googleapis.com/css?family=Archivo|Spectral);
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%; }

body {
  color: #0e1111;
  font-size: 14px;
  font-family: "Archivo", sans-serif;
  width: 100vw;
  height: 100vh;
  line-height: 19px; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

input {
  padding: 1em;
  border: 2px solid #f6f7fa;
  flex: 40%;
  font-size: 14px;
  border-radius: 8px;
  width: 100%; }

span {
  font-style: inherit;
  font-weight: inherit; }

button {
  background-color: #0e1111;
  color: #ffffff;
  padding: 1em;
  border: 0px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer; }

a {
  cursor: pointer; }
  a:hover {
    transition: all 1s ease; }

.content {
  width: 100vw;
  height: 100vh;
  justify-content: space-between; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%; }

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0; }

@media (max-width: 768px) {
  .remove-tablet {
    display: none; } }

@media (max-width: 400px) {
  .remove-mobile {
    display: none; } }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

a {
  color: #0e1111;
  text-decoration: none;
  transition: 0.5s; }
  a:hover {
    color: #2ac5e5; }

.ghost {
  border: 1px solid #ffffff;
  padding: 1em;
  text-transform: uppercase;
  background-color: #0e1111;
  color: #ffffff;
  transition: ease 1s; }
  .ghost:hover {
    border: 1px solid #0e1111;
    background-color: #ffffff;
    color: #0e1111;
    transition: ease 1s; }

.swipe {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  letter-spacing: 0.5px; }
  .swipe .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1.625rem; }
    .swipe .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #0e1111; }
      .swipe .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none; }
        .swipe .circle .icon.arrow::before {
          position: absolute;
          content: '';
          top: -0.25rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid #0e1111;
          border-right: 0.125rem solid #0e1111;
          transform: rotate(45deg); }
  .swipe .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase; }
  .swipe:hover .circle {
    width: 100%; }
    .swipe:hover .circle .icon.arrow {
      background: #0e1111;
      transform: translate(1rem, 0); }
  .swipe:hover .button-text {
    color: #0e1111; }

#header {
  font-weight: bold;
  font-size: 14px;
  padding: 1em 0;
  position: absolute;
  right: 0; }
  #header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em; }
    #header nav a {
      padding: 0 1em;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #ffffff; }
      @media (max-width: 768px) {
        #header nav a {
          display: none; } }
      #header nav a.menu-link img {
        width: 14px;
        height: 14px;
        margin-left: 1em; }
    #header nav .mobile-menu {
      display: none;
      position: absolute;
      right: 2em;
      z-index: 1001; }
      @media (max-width: 768px) {
        #header nav .mobile-menu {
          display: block; } }
      #header nav .mobile-menu .line {
        width: 50px;
        height: 4px;
        margin-bottom: 8px;
        background-color: #af7f6d;
        transition: all 600ms ease-in-out;
        border-radius: 1px; }
        #header nav .mobile-menu .line.center {
          width: 40px; }
        #header nav .mobile-menu .line.bottom {
          width: 30px; }

.menu-wrapper {
  background-color: #ffffff;
  width: 240px;
  position: absolute;
  right: 2em;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 2em; }
  .menu-wrapper.triangle {
    box-sizing: border-box;
    background: #ffffff; }
    .menu-wrapper.triangle:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 20px;
      top: 10px;
      box-sizing: border-box;
      border: 1em solid #ffffff;
      border-color: #ffffff;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: none;
      z-index: 1; }
    .menu-wrapper.triangle:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 20px;
      top: 10px;
      box-sizing: border-box;
      border: 1em solid #ffffff;
      border-color: transparent transparent #ffffff #ffffff;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
      z-index: -1; }
  .menu-wrapper ul.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2em 3em;
    margin: 0; }
    .menu-wrapper ul.menu li {
      padding: 0 0 1.4em;
      font-size: 16px; }
      .menu-wrapper ul.menu li:last-child {
        padding: 0; }

.mobile-menu-wrapper {
  background-color: #0e1111;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000; }
  .mobile-menu-wrapper ul.mobile-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 6em 2em 3em 2em;
    margin: 0; }
    .mobile-menu-wrapper ul.mobile-menu li {
      padding: 0 0 1.4em;
      font-size: 1.2em;
      text-align: right; }
      .mobile-menu-wrapper ul.mobile-menu li a {
        color: #af7f6d; }
      .mobile-menu-wrapper ul.mobile-menu li:last-child {
        padding: 0; }

#hero {
  display: flex;
  width: 100%;
  height: 500px;
  padding: 4em;
  flex-direction: column; }
  #hero h1 {
    color: #ffffff;
    font-size: 3em; }
  #hero p {
    color: #af7f6d;
    margin-top: 1em;
    font-size: 1.2em; }

.cards {
  display: flex;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.61); }
  .cards .cards-row {
    display: flex;
    color: #ffffff;
    background-color: #0e1111; }
    .cards .cards-row .third {
      width: 33%;
      padding: 2em; }
    .cards .cards-row .two-thirds {
      width: 66%;
      padding: 2em; }
    .cards .cards-row button {
      margin-top: 1em; }

#footer {
  background-color: #0e1111;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2em; }
  @media (max-width: 768px) {
    #footer {
      flex-wrap: wrap; } }
  #footer .logo-trademark {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 768px) {
      #footer .logo-trademark {
        display: none; } }
    #footer .logo-trademark .trademark {
      color: #839399;
      font-size: 14px; }
      #footer .logo-trademark .trademark span {
        color: #ffffff;
        font-weight: 600; }
  #footer .footer-item {
    width: 20%; }
    @media (max-width: 768px) {
      #footer .footer-item {
        width: 50%;
        margin-bottom: 2em; } }
    #footer .footer-item h4 {
      letter-spacing: 0.5px;
      margin-bottom: 1.8em; }
    #footer .footer-item ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer .footer-item ul li {
        font-size: 14px;
        margin: 1em 0; }
        #footer .footer-item ul li a {
          color: #839399; }
          #footer .footer-item ul li a:hover {
            transition: all 1s ease;
            color: #e7e9f0; }
  @media (max-width: 768px) {
    #footer .social {
      width: 100%; } }
  #footer .social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%; }
    @media (max-width: 768px) {
      #footer .social ul {
        width: 80%; } }
    #footer .social ul li {
      flex: 50%; }
      @media (max-width: 768px) {
        #footer .social ul li {
          flex: 25%; } }
  #footer .logo-trademark-tablet {
    display: none; }
    @media (max-width: 768px) {
      #footer .logo-trademark-tablet {
        display: block; } }
    #footer .logo-trademark-tablet .trademark {
      color: #828282;
      font-size: 14px; }
      #footer .logo-trademark-tablet .trademark span {
        color: #ffffff;
        font-weight: 600; }


/*# sourceMappingURL=styles.chunk.css.map*/