@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,600,700);
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%; }

body {
  color: #0e1111;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100vh;
  line-height: 19px; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

input {
  padding: 1em;
  border: 2px solid #f6f7fa;
  flex: 40%;
  font-size: 14px;
  border-radius: 8px;
  width: 100%; }

span {
  font-style: inherit;
  font-weight: inherit; }

button {
  background-color: #0e1111;
  color: #ffffff;
  padding: 1em;
  border: 0px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer; }

a {
  cursor: pointer; }
  a:hover {
    transition: all 1s ease; }

.content {
  width: 100vw;
  height: 100vh;
  justify-content: space-between; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%; }

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0; }

@media (max-width: 768px) {
  .remove-tablet {
    display: none; } }

@media (max-width: 400px) {
  .remove-mobile {
    display: none; } }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

a {
  color: #0e1111;
  text-decoration: none;
  transition: 0.5s; }
  a:hover {
    color: #2ac5e5; }

#header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 1em 0; }
  #header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em; }
    #header nav a {
      padding: 0 1em;
      display: flex;
      align-items: center;
      font-size: 16px; }
      @media (max-width: 768px) {
        #header nav a {
          display: none; } }
      #header nav a.menu-link img {
        width: 14px;
        height: 14px;
        margin-left: 1em; }
    #header nav .mobile-menu {
      display: none;
      position: absolute;
      left: 2em;
      z-index: 1001; }
      @media (max-width: 768px) {
        #header nav .mobile-menu {
          display: block; } }
      #header nav .mobile-menu .line {
        width: 50px;
        height: 4px;
        margin-bottom: 8px;
        background-color: #2ac5e5;
        transition: all 600ms ease-in-out;
        border-radius: 1px; }
        #header nav .mobile-menu .line.center {
          width: 40px; }
        #header nav .mobile-menu .line.bottom {
          width: 30px; }

.menu-wrapper {
  background-color: #ffffff;
  width: 240px;
  position: absolute;
  right: 2em;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 2em; }
  .menu-wrapper.triangle {
    box-sizing: border-box;
    background: #ffffff; }
    .menu-wrapper.triangle:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 20px;
      top: 10px;
      box-sizing: border-box;
      border: 1em solid #ffffff;
      border-color: #ffffff;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: none;
      z-index: 1; }
    .menu-wrapper.triangle:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 20px;
      top: 10px;
      box-sizing: border-box;
      border: 1em solid #ffffff;
      border-color: transparent transparent #ffffff #ffffff;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
      z-index: -1; }
  .menu-wrapper ul.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2em 3em;
    margin: 0; }
    .menu-wrapper ul.menu li {
      padding: 0 0 1.4em;
      font-size: 16px; }
      .menu-wrapper ul.menu li:last-child {
        padding: 0; }

.mobile-menu-wrapper {
  background-color: #ffffff;
  width: 80vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000; }
  .mobile-menu-wrapper ul.mobile-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 6em 2em 3em 2em;
    margin: 0; }
    .mobile-menu-wrapper ul.mobile-menu li {
      padding: 0 0 1.4em;
      font-size: 1.6em; }
      .mobile-menu-wrapper ul.mobile-menu li:last-child {
        padding: 0; }

#hero {
  display: flex;
  width: 100%;
  height: 400px; }

.content {
  color: blue; }

#footer {
  background-color: #0e1111;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 4em 2em 5em 4em; }
  @media (max-width: 768px) {
    #footer {
      flex-wrap: wrap; } }
  #footer .logo-trademark {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 768px) {
      #footer .logo-trademark {
        display: none; } }
    #footer .logo-trademark .trademark {
      color: #839399;
      font-size: 14px; }
      #footer .logo-trademark .trademark span {
        color: #ffffff;
        font-weight: 600; }
  #footer .footer-item {
    width: 20%; }
    @media (max-width: 768px) {
      #footer .footer-item {
        width: 50%;
        margin-bottom: 2em; } }
    #footer .footer-item h4 {
      letter-spacing: 0.5px;
      margin-bottom: 1.8em; }
    #footer .footer-item ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer .footer-item ul li {
        font-size: 14px;
        margin: 1em 0; }
        #footer .footer-item ul li a {
          color: #839399; }
          #footer .footer-item ul li a:hover {
            transition: all 1s ease;
            color: #e7e9f0; }
  @media (max-width: 768px) {
    #footer .social {
      width: 100%; } }
  #footer .social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%; }
    @media (max-width: 768px) {
      #footer .social ul {
        width: 80%; } }
    #footer .social ul li {
      flex: 50%; }
      @media (max-width: 768px) {
        #footer .social ul li {
          flex: 25%; } }
  #footer .logo-trademark-tablet {
    display: none; }
    @media (max-width: 768px) {
      #footer .logo-trademark-tablet {
        display: block; } }
    #footer .logo-trademark-tablet .trademark {
      color: #828282;
      font-size: 14px; }
      #footer .logo-trademark-tablet .trademark span {
        color: #ffffff;
        font-weight: 600; }


/*# sourceMappingURL=styles.chunk.css.map*/